/* Font lgoo */
@font-face {
    font-family: 'grandissimo';
    src: url('../assets/font/Grandissimo.ttf');
}
/* Font primaire */
@font-face {
    font-family: 'inconsolata';
    src: url('../assets/font/Inconsolata.ttf');
}
/* Font primaire */
@font-face {
    font-family: 'josefin';
    src: url('../assets/font/source.ttf');
}

/*** Principal ***/
:root {
    --font-family-main: 'inconsolata',Helvetica,Arial;
    --font-family-logo: 'grandissimo',Helvetica,Arial;

    --font-size-normal: 1.1rem;
    --font-size-logo: 1.2rem;
    --font-size-tres-gros-titre: 1.6rem;
    --font-size-gros-titre: 1.65em;
    --font-size-titre: 1.4rem;
    --font-size-petit-icon: 1.1rem;
    --font-size-moyen-icon: 1.4rem;

    --color-main: white;
    --color-secondary: rgb(190,190,190);
    --bg-color-main: rgb(22,22,22);
    --bg-color-secondary: rgb(28,28,28);
    --bg-color-terciary: rgb(35,35,35);
}
*:not(span) {
    margin: 0;
    padding: 0;
    color: var(--color-main);
    font-family: var(--font-family-main);
    font-size: var(--font-size-normal);
    font-weight: 400;
}
html, body {
    background-color: var(--bg-color-main);
    overflow-x: hidden;
}
a {
    position: relative;
    text-decoration: none;
    color: inherit;
    overflow-anchor: none;
    font-weight: inherit;
}
h1 {
    text-transform: uppercase;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color-secondary);
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-main);
  transition: .3s;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

/*** En-tête ***/
body > header {
    position: fixed;    
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9rem 8vw 1.7rem 8vw;
    width: 84vw;
    z-index: 10;
    transition: .3s;
    background-color: var(--bg-color-main);
    border-bottom: .05rem solid transparent;
}
body header #phone-header {
    display: none;
}
.logo {
    font-family: var(--font-family-logo);
    font-size: var(--font-size-logo);
}
/* Navigation */
nav { 
    width: 30vw;
    max-width: 600px;
    min-width: 400px;
}
nav ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav ul li {
    position: relative;
    font-size: var(--font-size-normal);
    list-style-type: none;
}
nav .onSection {
    font-weight: 800!important;
}
nav ul #barre {
    position: absolute;
    top: 103%;
    left: 0;
    width: 0;
    height: .1rem;
    background-color: var(--color-main);
    transition: .3s;
}


/*** Sections ***/
section {
    position: relative;
    padding: 0 8vw;
    z-index: 5;
}
.section-defilement {
    padding-top: 2.7rem;
    padding-bottom: 2.5rem;
    background-color: var(--bg-color-secondary);
}
.section-defilement header {
    position: relative;
    height: 5rem;
}
.section-defilement header .fond {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background-color: var(--color-main);
    z-index: -1;
}
.section-defilement header h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: var(--font-family-main);
    font-size: var(--font-size-gros-titre);
    color: var(--bg-color-secondary);
    font-weight: 600;
}
@keyframes fullHeight {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
@keyframes titleToLeft {
    from {
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    to {
        top: 50%;
        left: 2rem;
        transform: translate(0%,-50%);
    }
}
/** Section 1 **/
#sect1 {
    min-height: 80vh;
    overflow: hidden;
}
#sect1 article {
    position: absolute;
    width: 84vw;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
}
#sect1 article .desc-moi {
    position: relative;
    margin-right: 15vw;
}
#sect1 article h1 {
    margin-top: 24vh;
    font-family: var(--font-family-logo);
    font-size: var(--font-size-tres-gros-titre);
}
#sect1 article h2 {
    margin-top: .15rem;
    font-size: var(--font-size-titre);
    font-weight: 500;
}
#sect1 article .img-moi {
    position: relative;
    height: 80vh;
}
#sect1 article .img-moi img {
    height: 100%;
}
#sect1 .en-savoir-plus {
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 94%;
    left: 50%;
    transform: translate(-50%,-94%);
}
#sect1 .fleches {
    position: relative;
    margin-top: .05rem;
}
#sect1 .fleches .fleche{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#sect1 .fleches .fleche ion-icon {
    font-size: var(--font-size-moyen-icon);
}
#sect1 .fleche1 {
    animation: fleche 3s infinite;
}
#sect1 .fleche2 {
    animation: fleche 3s .2s infinite;
    top: .55rem;
}
@keyframes fleche {
    20%, 85% { 
        opacity: 0.4;
    }
    0%,100% {
        opacity: 1;
    }
}
#sect1 footer {
    position: absolute;
    width: 100%;
    top: 72%;
    display: flex;
    justify-content: space-between;
}
#sect1 footer > div {
    width: 35%;
    opacity: 1;
}
#sect1 footer > div:nth-child(1) {
    margin-left: -17rem;
}
#sect1 footer > div > img {
    height: 100%;
    width: 100%;
    opacity: 1;
}
/** Section 2 **/
#sect2 .presentation {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sect2 .presentation > div {
    width: 45%;
    margin-top: 1.8em;
    padding-left: .7rem;
    border-left: .1rem solid var(--color-main);
    height: 1%;
}
#sect2 #presentation-info-perso {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
#sect2 #presentation-info-perso div:first-of-type {
    margin-right: 2.5rem;
}
#sect2 p {
    position: relative;
    font-weight: 400;
}
#sect2 .presentation div p:not(#sect2 .presentation div p:last-of-type) {
    margin-bottom: .5rem;
}
#sect2 h3 {
    font-weight: 900;
    margin-bottom: .7rem;
}
#sect2 .competences h3 {
    padding-left: .7rem;
    border-left: .05rem solid var(--color-main);
}
#sect2 .competences {
    position: relative;
    margin-top: 2.5rem;
}
#sect2 strong {
    font-style: italic;
}

/* Graphique des compétences */
#sect2 .table-competence{
    position: relative;
    margin-top: 1.7rem;
    height: 20rem;
    width: 100%;
    border-bottom: .2rem solid var(--color-main);
    border-left: .2rem solid var(--color-main);
}
/* Pourcentage */
#sect2 .competence-pourcentage {
    position: absolute;
    left: -2.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
#sect2 .competence-pourcentage > div {
    position: relative;
    text-align: right;
}
#sect2 .competence-pourcentage > div::before {
    position: absolute;
    content: '';
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    width: .5rem;
    height: .1rem;
    background-color: var(--color-main);
}
/* Logo des technologies */
#sect2 .competence-logo {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
}
#sect2 .competence-logo > div {
    position: relative;
    width: 3rem;
    height: 3rem;
}
#sect2 .competence-logo > div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 100%;
}
/* Niveau personnel */
#sect2 .competences-bar {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
#sect2 .competences-bar > div {
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    width: 5rem;
    background-color: var(--color-main);
    transition: height 2s;
    height: 0;
    cursor: pointer;
}
#sect2 .competences-bar > div::after {
    position: absolute;
    left: 50%;
    top: -2.4rem;
    transform: translateX(-50%)scale(0.8);
    opacity: 0;
    background-color: var(--color-main);
    color: black;
    padding: .3rem .5rem;
    border-radius: .4rem;
    transition: .2s;
}
#sect2 .competences-bar > div:hover::after{
    opacity: 1;
    top: -2.5rem;
    transform: translateX(-50%)scale(1);
}
#sect2 .competences-bar > div::before {
    position: absolute;
    display: inline-block;
    content: '';
    border-right: .35rem solid transparent;
    border-bottom: .4rem solid var(--color-main);
    border-left: .35rem solid transparent;
    height: 0;
    width: 0;
    left: 50%;
    top: -.8rem;
    transform: translateX(-50%)rotate(180deg)scale(0.8);
    opacity: 0;
    transition: .2s;
}
#sect2 .competences-bar > div:hover::before{
    opacity: 1;
    top: -.8rem;
    transform: translateX(-50%)rotate(180deg)scale(1);
}
/* Affectation du niveau */
#sect2 .competence-bar-html {
    max-height: 95%;
}
#sect2 .competence-bar-html::after {
    content: '95%';
}
#sect2 .competence-bar-css {
    max-height: 95%;
}
#sect2 .competence-bar-css::after {
    content: '95%';
}
#sect2 .competence-bar-js {
    max-height: 70%;
}
#sect2 .competence-bar-js::after {
    content: '70%';
}
#sect2 .competence-bar-php {
    max-height: 75%;
}
#sect2 .competence-bar-php::after {
    content: '75%';
}
#sect2 .competence-bar-python {
    max-height: 90%;
}
#sect2 .competence-bar-python::after {
    content: '95%';
}

/*** Section 3 ***/
/* Travaux */
#sect3 .travaux {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#sect3 .travaux::after {
    content: '';
    width: 19rem;
    padding: 0 .7rem;
}
#sect3 .travail {
    position: relative;
    margin-top: 1.8rem;
}
#sect3 .travail a {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 5rem;
    width: 19rem;
    border-left: .15rem solid var(--color-main);
    padding: .7rem;
}
#sect3 .travail-img {
    position: relative;
    height: 5rem;
    width: 4rem;
}
#sect3 .travail-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-height: 90%;
    max-width: 90%;
}

#sect3 .travail-box-info {
    position: relative;
    width: 14rem;
    margin-left: .6rem;
}
#sect3 .travail-box-info h3{
    position: relative;
    font-size: var(--font-size-logo);
    font-weight: 600;
}
.travail-box-info h3 span {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    font-size: .9rem;
    font-weight: 400;
    right: 0;
    color: var(--color-secondary);
}
#sect3 .travail-box-info p {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}

/** Section 4 **/
#sect4 .contacts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#sect4 .contacts > div {
    position: relative;
    width: 50%;
    margin-top: 1.8rem;
    padding-left: .7rem;
    border-left: .1rem solid var(--color-main);
    height: 1%;
}
#sect4 .contact {
    position: relative;
    display: flex;
    align-items: center;
}
#sect4 .contact {
    margin-bottom: .5rem;
}
#sect4 .contact:last-of-type {
    margin: 0;
}
#sect4 .contacts h3 {
    font-size: var(--font-size-normal);
    font-weight: 600;
    margin-bottom: .7rem;;
}
#sect4 .contact p {
    position: relative;
    margin-left: .7rem;
}
#sect4 .contact ion-icon {
    font-size: var(--font-size-petit-icon);
}
#sect4 .contact p a {
    position: relative;
}
#sect4 .contact p a::before {
    position: absolute;
    content:'';
    width: 0;
    height: .1rem;
    background-color: var(--color-main);
    top: 100%;
    left: 0;
    transition: .4s;
}
#sect4 .contact p a:hover::before {
    width: 100%;
}

/*** Pied de page ***/
body > footer {
    min-height: 120vh;
}
/* Autre classe */
.color-main {
    color: var(--color-main);
}
.color-secondary {
    color: var(--color-secondary);
}