@media only screen and (max-width: 768px) {
    // Variables
    $font-size-default: 4vw;
    $font-size-h1: 8vw;
    $font-size-h2: 7vw;
    $font-size-h3: 5.6vw;
    $font-size-h4: 5.2vw;
    $font-size-h5: 4.8vw;
    $font-size-h6: 4.4vw;
    $font-size-small: 2.8vw;

    h1 {
        font-size: $font-size-h1;
    }
    h2 {
        font-size: $font-size-h2;
    }
    h3 {
        font-size: $font-size-h3;
    }
    h4 {
        font-size: $font-size-h4;
    }
    h5 {
        font-size: $font-size-h5;
    }
    h6 {
        font-size: $font-size-h6;
    }
    p {
        font-size: $font-size-default;
    }
    .font-size-h1 {
        font-size: $font-size-h1!important;
    }
    .font-size-h2 {
        font-size: $font-size-h2!important;
    }
    .btn {
        a {
            div {
                font-size: $font-size-default;
            }
        }
        
    }
    header {
        //animation: none!important;
        //visibility: visible;
        padding: 1.4rem 0;

        .main {
            width: 85%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #header-menu {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 5vw;
                height: 3.5vw;
    
                div {
                    position: relative;
                    height: 1px;
                    width: 100%;
                    background-color: $default-color;
                    transition: .5s;
                }
            }
            .header-phone-logo {
                display: block;
                a {
                    display: flex;
                    align-items: center;
                    img {
                        height: 3.5vw;
                    }
                }

            }
            ul {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                flex-direction: column;
                justify-content: center;
                margin: 0;

                li {
                    font-size: $font-size-default;
                    margin-bottom: 1rem;
                    visibility: hidden;

                    &:nth-of-type(3) {
                        display: none;
                    }
                }
            }
        }
        
    }
    section {
        .main {
            width: 85%;
        }
        &#home {
            .main {
                h2 {
                    font-size: $font-size-h1;
                }
            }
        }
        &#about {
            .main {
                .about-item {
                    width: 100%;

                    &:nth-child(2n) {
                        text-align: left;
                    }

                    .about-bar {
                        width: 100%;
                        flex-direction: row;
                        height: auto!important;
                        margin-bottom: 2rem;

                        > div:nth-of-type(2) {
                            margin: 0 2rem;
                        }

                        .about-icon-bar {
                            transition: max-height 2s ease-out;
                            max-height: 0;
                            width: 100%;
                            height: 5px;
                        }
                        .about-icon-bar-icon {
                            font-size: 2.5rem;
                        }
                    }
                    .about-desc {
                        margin: 0!important;
                        width: 100%;

                        .about-desc-header {
                            margin-bottom: .8rem;

                            .about-desc-date {
                                font-size: $font-size-default;
                                margin: 0;
                            }
                            h3 {
                                text-align: left;
                                margin-bottom: .5rem;
                            }
                        }
                        p {
                            text-indent: 1rem;
                        }
                        > div {
                            justify-content: center;
                            .about-points {
                                > div {
                                    height: .45rem;
                                    width: .45rem;
                                }
                            }
                            h3 {
                                width: 100%;
                                text-align: center;
                                margin-right: 0;
                            }
                        }
                    }

                    
                }
            }
        }
        &#work {
            .main {
                .projets {
                    width: 100%;
                    margin-bottom: 2rem;
    
                    .projet {
                        width: 100%;
                        max-width: none;
                        min-width: none;
                        margin-bottom: 2.3rem;
    
                        &:nth-child(2n+1) {
                            margin-right: 0;
                        }
    
                        .projet-header {
                            .projet-img {
                                img {
                                    width: 17vw;
                                    height: 17vw;
                                }
                            }
                            > div:nth-of-type(2) {
                                margin-left: 1.2rem;
                                width: 65%;
    
                                h3 {
                                    width: 100%;
                                    .projet-new-tab-icon {
                                        font-size: $font-size-default;
                                    }
                                }
                                p {
                                    width: 100%;
                                    margin-left: 0;
                                    margin-top: .5rem;
                                }
                            }
                        }
                        .projet-body {
                            .projet-body-techno {
                                > div {
                                    font-size: $font-size-small;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }

    // Animations
    @keyframes fontSizeH1 {
        0% {
            font-size: $font-size-h1;
        }
        100% {
            font-size: $font-size-h2;
        }
    }
}
